<section class="portfolio-content">




<div class="portfolio-entry"
<div class="portfolio-main">
<img style="width: 500px;" src="/assets/images/tandem-brand-collatoral_hp.jpg">
<img style="width: 500px;" src="/assets/images/tandem-pres.gif">
</div>
<div class="portfolio-meta">
<p>Client: Tandem</p>
<p>Business cards, letterhead, presentation and communications materials design.</p>
</div>
</div>
</section>