---
layout: layouts/base.njk
---





  <div class="home-project-detail">
         
      <div class="project-description">
      <p>{{ title }}
      <p>{{ description }}</p>

    </div>

     

</div>






