/* -------------------------
BASE
------------------------- */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
font-family: "ibm-plex-mono", mono-space, serif;
font-weight: 300;
font-style: normal;
  margin: 0;
  padding: 0;
color: #696969;
}

.home {
  cursor: grab;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-color: #2a2a2a;

}

button {
font-family: "ibm-plex-mono", mono-space, serif;
/*reset */
background: none;
border: none;
color: #2a2a2a;

}

button:hover {
  cursor: pointer;
}

:root{
  --header-height:65px;
  --content-height:calc(100vh - var(--header-height));
  --featured-content-height:calc(95vh - var(--header-height));


}


.content {
    padding-top:var(--header-height);

}





/* -------------------------
HEADER & NAV
------------------------- */

header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
   z-index: 9999;
   left: 50%;
   transform: translate(-50%, 0);
  height:var(--header-height);

}

.work header {
     background-color: #ffffff;

}

header .container {

    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  
 

    /* for larger screens? 
    max-width: calc(100% - 5%);
    margin: 0 auto;
    background: pink;
    display: flex;
    justify-content: space-between;
    */


}

.site-title {
  font-family: "pressato-variable",sans-serif;
  font-variation-settings: 'wdth' 36, 'wght' 500, 'slnt' 0;
  font-size: 2em;
  letter-spacing: .03em;
  color: #2a2a2a;
}

.nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1em;
  list-style: none;
  text-transform: uppercase;
  font-weight: 300;
  color: #2a2a2a;
  
}

.nav button {
  background: none;
  border: 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
    color: #2a2a2a;

}

.nav li:hover, .nav button:hover {
  text-decoration: underline;
  text-decoration-color: #2a2a2a;
}

 .nav button:hover {
  cursor: pointer;
}

body.work .nav-work,
body.about .nav-about {
  text-decoration: underline;
  text-decoration-color: #2a2a2a;

}





/*--------------------------
HOME CANVAS / DRAG PROJECTS 
---------------------------*/

.world-view {
  display: none;
}

.world-view.active {
  display: block;
}

#viewport {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

#world {
  position: absolute;
   width: 3000px;
  height: 2000px;
  left: 0;
  top: 0;

  will-change: transform;
}

.project-node {
  position: absolute;

  width: 50vw;
  aspect-ratio: 16 / 9;
  display: block;
  transition:
    transform .5s ease,
    z-index .5s ease;
    overflow: visible;
}

.project-node.active {

  z-index: 888888;

}

.project-node img {
  width: 100%;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
   transition:transform .5s ease;
}



.project-gallery{
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: zoom-in;

}

.project-gallery img, .project-gallery video {

  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;

  opacity: 0;

  transition:
    opacity .35s ease,
    transform .5s ease;

}

.project-gallery img.active, .project-gallery video.active {
  opacity: 1;

}

/*

.project-node.active img.active {
  transform: scale(2);
}

*/

.project-gallery {
  position: relative;
}

.project-gallery img {

  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: contain;

  opacity: 0;

  transition: opacity .35s ease;

}

.project-gallery img.active {
  opacity: 1;
}

.project-meta {

  position: fixed;
  width: 100%;
  left: 0;
  bottom: 2em;

  z-index: 1000;

  opacity: 0;

  pointer-events: none;

  transition: opacity .3s ease,
  transform .3s ease;
  padding: 1em;
  font-size: .9em;

}

.project-meta.visible {
  opacity: 1;
}

.project-meta:not(.visible) {
  opacity: 0;
  transform: translateY(10px);
}

.meta-description {
  margin-bottom: 1em;
}

.meta-count {
  font-size: .8em;
}

body.project-open {
  overflow: hidden;
  touch-action: none;
}


.world-focused .project-node {
  filter: blur(12px);
  opacity: .4;
}

.world-focused .project-node.active {
  filter: blur(0);
  opacity: 1;
  width: 90vw;
  height: 40vh;
}

.world-focused .project-node.active .project-gallery {
  cursor: e-resize;
}

.focus-close {

  position: absolute;

  right: 30px;
  top: 15px;

  opacity: 0;
  pointer-events: none;

  transition: opacity .3s ease;

  z-index: 9999;

  background: radial-gradient(ellipse closest-side, lime, white);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.focus-close.visible {

  opacity: 1;
  pointer-events: auto;

}




/* ------------------------
PROJECT LIST PAGE - INDEX
--------------------------- */

.project-row {
  align-items: center;
  justify-content: space-between;
  position: relative;
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: 4fr 3fr 0fr 0fr;
}


.project-list {
  padding-top: 10vh;
  padding-bottom: 8vh;

}


.project-list .project-expand {

    
    border-bottom: 1px solid #eee;

}

.project-list .project-description {
  font-size: .9em;
  padding: 0;

}

.project {
  display:block;
  color:inherit;
  text-decoration:none;
  padding: 0 1em;
}

.project {
  transition: opacity .2s ease;
}

.project.is-hidden {
  opacity: 0;
}



.project-images {
  display: flex;
  height: 10vh;
  margin-top: 0;
  flex-grow: 2;
  gap: 20px; /* Applies 20px of space between all items */
  padding: 0;
}


.project-images img:hover {
  cursor: zoom-in;
}








.filters {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 12px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #2a2a2a;
  background: #ffffff;
  height: 7vh;



}

.filters button {
  
  font-size: 1em;
  min-width: 100px;
  color: #2a2a2a;
  
}



.filters button.active, .filters button:hover {
    background: radial-gradient(ellipse closest-side, lime, white);
    background-size: 30% 50%;
    background-repeat: no-repeat;
    background-position: center;


}

body.list-view .filters {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 500;
  bottom: 0;
  height: 50px;
  justify-content: space-around;


}



body.list-view .thumb-wrap {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.project-row {
  transition: transform .25s ease;
  margin-bottom: .5em;
}

.project-row p {
  font-size: .9em;
  margin-bottom: 0;
}




.list-title {
  margin-bottom: 0;
}

.active .list-title {
  font-style: bold;
}








/* -------------------
HOVER PREVIEW
------------------- */

.list-preview {
  width: 50px;
  opacity: 0;
  transform: translateX(40px);
  position: fixed;
  left: 375px;
}

.list-preview img {
  width: 100%;
  display: block;
}




/* -------------------------
PROJECT LIST VIEW
------------------------- */




/* list layout */

 .list-header{

  display:grid;
  padding:12px 0;
  margin-bottom:10px;

  font-size:.9em;
  text-transform:uppercase;
  letter-spacing:.05em;

  border-bottom:1px solid #ddd;
  grid-template-columns: 4fr 3fr 0fr 0fr;
  padding: 1em;
  
  

}

.list-type, .list-year {
 
   
  display: none;
}

body.list-view .project {
  display: flex;
  padding: 18px 0;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

body.list-view .project:hover, body.list-view .project:active {
  background: rgba(0,0,0,0.03);
}






/* show metadata row */


.title {
  font-weight: 600;
}

.year,
.category {
  opacity: 0.6;
  text-align: right;
}

.project-cat, .project-year {
  display: none;
}

/* -------------------------
VIEW TOGGLE
------------------------- */



body.list-view .featured {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -9999px;
}




.card.is-hidden{

  opacity:0;
  height:0;
  overflow:hidden;
  margin:0;
  padding:0;
  pointer-events:none;

}

/* Project Panel */

.project-expand{

  height:0;
  overflow:hidden;

}

.project-page{

  padding:0;

}

#project-panel{

  position:fixed;
  inset:0;

  width:100vw;
  height:100vh;

  background:none;

  opacity:0;
  visibility:hidden;
  pointer-events:none;

  transition:
    opacity .45s ease,
    visibility .45s ease;

  z-index:999;

  overflow-y:auto;
  overscroll-behavior:contain;

}

#project-panel.open{

  opacity:1;
  visibility:visible;
  pointer-events:auto;

}

.panel-inner{
  padding:1em;
}

#project-panel h1 {
  font-size: 1em;
}

button.panel-close {
  position: absolute;
  right: 0em;
  top: 6em;
  background: none;
  border: none;

}



.gallery-track{
  position:relative;
  width:100%;
  height:100%;
}

.gallery-slide{
  position:absolute;
  inset:0;

  opacity:0;
  pointer-events:none;

  transition:
    opacity .5s ease,
    transform .7s cubic-bezier(.22,.61,.36,1);

  transform:scale(1.02);
}

.gallery-slide.active{
  opacity:1;
  pointer-events:auto;
  transform:scale(1);
}

.gallery-slide img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.gallery-arrow{
  position:absolute;
  top:50%;
  transform:translateY(-50%);

  z-index:20;

  width:60px;
  height:60px;

  border:none;
  background:rgba(0,0,0,.35);
  color:white;

  cursor:pointer;

  opacity:0;
  transition:opacity .25s ease;
}

.project-gallery:hover .gallery-arrow{
  opacity:1;
}

.gallery-arrow.prev{
  left:20px;
}

.gallery-arrow.next{
  right:20px;
}

.gallery-count{
  position:absolute;
  bottom:24px;
  right:24px;

  z-index:20;

  color:white;
  font-size:.8rem;
  letter-spacing:.08em;
}


#lightbox {
  position: fixed;
  inset: 0;

  display: none;

  align-items: center;
  justify-content: center;

  background: none;

  z-index: 9999;
}

#lightbox.open {
  display: flex;
}

.inner-lightbox {
  position: fixed;
    left: 1em;
    top: 18vh;
    width: 90vw;
}



.lightbox-image img,
.lightbox-image video {
  
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.lightbox-counter {
  display: none;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.lightbox-close {
    position: absolute;
    top: -1.5rem;
    right: 12rem;
}

.lightbox-prev,
.lightbox-next {
      position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    width: 100%;
    height: 100%;
    background: none;
    border: 0;
    cursor: e-resize;

}

.lightbox-prev {
  left: 2rem;
}

.lightbox-next {
  right: 0;
}

/* -------------------------
ABOUT PANEL
------------------------- */

.panel-about {

  position: fixed;
  inset: 0;

  transform: translateY(-100%);
  opacity: 0;

  backdrop-filter: blur(14px) saturate(120%);
  background: rgba(0,0,0,.55);

  transition:
    transform .65s cubic-bezier(.22,.61,.36,1),
    opacity .35s ease;

  z-index: 9999;
  
  display: flex;
  align-items: center; /* Vertically centers children */
  justify-content: center; /* Horizontally centers children */
  min-height: 100vh; /* Ensures container fills the viewport */


}


/* OPEN */

body.about-open .panel-about {

  transform: translateY(0);
  opacity: 1;

}


/* CLOSING */

body.about-closing .panel-about {
  transform: translateY(0);

  backdrop-filter: none;
  background: white;
}

.panel-fade-out {
  opacity: 0;
}


/* -------------------------
ABOUT TEXT
------------------------- */

.about-inner {

  position: relative;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #ffffff;

}

.main-about {
  font-family: "pressato-variable",sans-serif;
  font-variation-settings: 'wdth' -20, 'wght' 314, 'slnt' 0;
  font-size: calc(10vw + 6vh); 
  /* Optional: Force text to fit exact container dimensions */
  line-height: 1;
  margin: 0;
  text-align: center;
}

.contact {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  overflow: hidden;
}

.marquee {
  display: flex;
  transform: translateX(-5%);
  will-change: transform;
  animation: scroll-left 45s linear infinite;
  backface-visibility: hidden;
}

.contact p {
  margin: 0 0 0 1em;
}

@keyframes scroll-left {
 0%   {
 transform: translateX(-5%);
 }
 100% {
 -moz-transform: translateX(-75%);
 -webkit-transform: translateX(-75%);
 transform: translateX(-75%);
 }
}


/* -------------------------
ABOUT CLOSE BUTTON
------------------------- */

.about-close {

  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: 1em;
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;

  opacity: .6;
  transition: opacity .2s ease;
  z-index: 99999;

}

.about-close:hover {
  opacity: 1;
}

/* tablet and up */

@media (min-width: 768px) {


  header .container {

    padding: 2em;
  }


.main-about {
    font-size: calc(10vw + 10vh); 

}


.world-focused .project-node.active {

  width: 60vw;
  height: auto;
}

.project-node {
  width: 25vw;
}

.project-meta {
  width: 30%;
  left: 2em;
  padding: 0;
}


 .project-cat, .project-year, .list-type, .list-year {
  display: block;
}

 .project:hover .project-row,
 .project.active .project-row, .project.active .project-row{
  transform: translateX(1em);
}

.project-row, .list-header {
  grid-template-columns: 4fr 3fr 2fr 1fr;
}

.project-list .project-expand {

   display: grid;
    gap: 1em;
    gap: 2em;
    grid-template-columns: 33vw 1fr;

}

.project-list .project-description {
  padding: 1em;

}

.project-images {
  height: 20vh;
  padding-bottom: 1em;
}

.inner-lightbox {
  position: fixed;
    left: 33vw;
    top: 18vh;
    width: 60vw;
}



.lightbox-image img,
.lightbox-image video {
  max-width: 60vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}


}

