---
layout: layouts/base.njk
title: Home
---







<section class="world-view active">

  <div id="viewport">

    <div id="world">

      {% for project in collections.projects %}
            {% if project.data.featured %}


      <a
  class="project-node"
  href="{{ project.url }}"
  data-x="{{ project.data.home.x | default(0) }}"
  data-y="{{ project.data.home.y | default(0) }}"
  data-mobile-x="{{ project.data.mobile.x | default(project.data.home.x) }}"
  data-mobile-y="{{ project.data.mobile.y | default(project.data.home.y) }}"

  data-title="{{ project.data.title }}"
  data-label="{{ project.data.label }}"
  data-description="{{ project.data.description }}">



 <div class="project-gallery">

  {% if project.data.thumbnail %}

    {% if ".mp4" in project.data.thumbnail %}

      <video
        class="active world-thumbnail"
        muted
        loop
        playsinline
        preload="metadata"
      >
        <source
          src="{{ project.data.thumbnail | url }}"
          type="video/mp4"
        >
      </video>

    {% else %}

      <img
        src="{{ project.data.thumbnail | url }}"
        alt="{{ project.data.title }}"
        class="active world-thumbnail"
      >

    {% endif %}

  {% endif %}


  {% for media in project.data.images %}

    {# Don't duplicate the thumbnail if it's already in images #}

    {% if not project.data.thumbnail or media != project.data.thumbnail %}

      {% if ".mp4" in media %}

        <video
          class="{% if not project.data.thumbnail and loop.first %}active{% endif %}"
          muted
          loop
          playsinline
          preload="metadata"
        >
          <source src="{{ media | url }}" type="video/mp4">
        </video>

      {% else %}

        <img
          src="{{ media | url }}"
          alt="{{ project.data.title }}"
          class="{% if not project.data.thumbnail and loop.first %}active{% endif %}"
        >

      {% endif %}

    {% endif %}

  {% endfor %}

</div>

</a>
              {% endif %}

      {% endfor %}

    </div>

  </div>

</section>

 <button class="focus-close">
  [close]
</button>

<div class="project-meta">
 

  <p class="meta-title"></p>
  <p class="meta-label"></p>

  <div class="meta-description">
  <p></p>
</div>
    <div class="meta-count"></div>


</div>


